.App {
	background: linear-gradient(yellowGreen,orange,yellow);
	width:100vw;
	height:100vh;
}

.busBody {
	position: absolute;
	background-color:cornflowerblue;
}

.tyre {
	position:absolute;
	background-color: wheat;
}

.rim {
	position:absolute;
}

.frontGlass{
	background-color: lightblue;
	position: absolute;
}

.mainDoor {
	position:absolute;
	background-color:black;
}

.doorStyle {
	background-color:lightblue;
}

.window {
	background-color:lightblue;
}
.roof {
	position: absolute;
	background-color: whitesmoke;
}

.luggageDoorHandle {
	position:absolute;
	background-color:lightblue;
}

.luggageDoor {
	position:absolute;
	background-color:lightblue;
}
