.App {
	background: linear-gradient(yellowGreen,orange,yellow);
	width:100vw;
	height:100vh;
}

.busBody {
	position: absolute;
	background-color:cornflowerblue;
}

.tyre {
	position:absolute;
	background-color: wheat;
}

.rim {
	position:absolute;
	animation: rotate 2s infinite linear;
}

@keyframes rotate {
	from {transform: rotate(360deg)}
	to {transform: rotate(0deg)}
}

@keyframes moveBus {
	from {transform: translate(0px,0px)scaleX(-1)}
	to {transform: translate(100px,0px)scaleX(-1)}
}

@keyframes moveRtl {
	from {transform: translate(100px,0px)}
	to {transform: translate(0px,0px)}
}

.frontGlass{
	background-color: lightblue;
	position: absolute;
}

.mainDoor {
	position:absolute;
	background-color:black;
}

.doorStyle {
	background-color:lightblue;
}

.window {
	background-color:lightblue;
}
.roof {
	position: absolute;
	background-color: whitesmoke;
}

.luggageDoorHandle {
	position:absolute;
	background-color:lightblue;
}

.luggageDoor {
	position:absolute;
	background-color:lightblue;
}
