.App {
	text-align: center;
}


.bus {
	background-image: linear-gradient(yellowGreen,orange,yellow);
	width:100vw;
	height:100vh;
}

.busBody {
	position: absolute;
	top: 70px;
	left:100px;
	height: 480px;
	width: 1350px;
	border-radius:100px 0px 0px 0px;
	// clip-path: polygon(6.5% 0, 100% 0%, 100% 100%, 0 100%);
	background-color:cornflowerblue;
}

.tyre {
	position:absolute;
	border-radius: 50%;
	background-color: wheat;
	border: 15px solid black;
	height: 100px;
	width: 100px;

}

.rim {
	border: 5px dashed black;
	border-radius: 50%;
	height: 78px;
	width: 78px;

	position:absolute;
}


.backTyre {
	position:absolute;
	top: 560px;
	right:415px;
	height:155px;
	width:155px;
	border-radius: 50%;
	background-color: black;
	border: 5px solid lightgrey;
}


.frontGlass{
	position: absolute;
	top: 85px;
	left: -3px;
	height: 149px;
	width: 36px;
	background-color: lightblue;
	border-radius: 5px;
	border: 1px solid black;
	clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
}

.mainDoor {
	position:absolute;
	top: 135px;
	left:500px;
	height:329px;
	width:183px;
	border-radius: 10px;
	background-color:black;
}

.doorStyle {
	border-radius: 10px;
	background-color:lightblue;
}

.window {

	 border-radius: 10px;
	background-color:lightblue;
}
.roof {
	position: absolute;
	border-radius: 50% 50% 0 0;
	top: -27px;
	height: 20px;
	left: 116px;
	width: 1225px;

	background-color: whitesmoke;
	border: 5px solid black;
}

.luggageDoorFrame {
	position:absolute;
	top: 354px;
	left:753px;
	height:95px;
	width:226px;
	border-radius: 10px;
	border: 3px solid black;
	background-color:lightblue;
}

.luggageDoor {
	position:absolute;
	top: 332px;
	left:740px;
	height:120px;
	width:240px;
	border-radius: 10px;
	border: 10px solid black;
	background-color:lightblue;
}
